:root {
    --accent: #408d4f;
    --background: #1e1e1e;
    --second: #ffffff;
    --third: #636363;
    --fourth: #868686;
}

@media screen and (max-width:1000px) {
    .input-group {
        width: 100% !important;
        display: block !important;
    }

    .form-control {
        width: 100% !important;
    }

}

* {
    transition: 0.2s;
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
}

body {
    background: var(--background);
    height: 100vh;
    color: var(--second);
}

strong {
    font-weight: normal;
}

h3 {
    display: none;
}

.btn {
    display: flex;
    align-items: center;
}

.bg-dark {
    background-color: transparent !important;
}

.centered {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.centered button {
    gap: 5px;
}

.input-group {
    justify-content: center;
    margin-top: 35vh;
}

.form-control {
    /* border-left: none !important; */
    /* padding: 1.1rem 0.2rem 1.3rem 0.2rem; */
    padding: 1.1rem 1rem 1.3rem 1rem;
    font-size: 15px;
    width: 500px;
    flex: none !important;
}

.input-group-text {
    border-right: none !important;
}

.form-control,
.input-group-text {
    background: transparent;
    border-radius: 100px;
    color: var(--fourth);
    border: 2px solid var(--third);
}

button:hover,
.form-control:hover {
    background: rgba(99, 99, 99, 0.2) !important;
    border-color: var(--accent) !important;
}

button:focus,
.form-control:focus,
input:-webkit-autofill:focus {
    background: rgba(99, 99, 99, 0.4) !important;
    color: var(--second) !important;
    border-color: var(--accent) !important;
    box-shadow: 0 0 0 .2rem rgba(64, 141, 79, .25) !important;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid var(--second);
    border-radius: 100px;
}

.footer {
    display: flex;
    justify-content: center;
}

#progress-bar {
    position: fixed;
    bottom: 30px;
    width: 200px;
}

.progress {
    padding: 0px;
    height: 8px;
    border-radius: 30px;
    background: #0d0d0d;
}

.progress-bar {
    height: 100%;
    border-radius: 30px;
    transition: 0.4s linear;
    transition-property: width;
}

.progress-moved .progress-bar {
    width: 100%;
    background-color: var(--accent);
    animation: progressAnimation 3s;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.alert {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 7px 15px;
}

.close,
.close span {
    display: contents;
}

.close ion-icon {
    padding: 5px;
}

.close ion-icon:hover {
    background: rgba(99, 99, 99, 0.2);
}

.dropdown-menu {
    background: var(--background);
    border-color: rgb(99, 99, 99);
    padding: 0;
    min-width: none;
}

.dropdown-item {
    color: var(--second);
    padding: .5rem 1rem;
}

.dropdown-item:hover {
    background: rgba(99, 99, 99, 0.2);
    color: var(--second);
}

.dropdown-item:focus {
    background: rgba(99, 99, 99, 0.4);
    color: var(--second);
}

.overflow-auto {
    max-height: 75vh;
    margin-top: 2.5vh;
}

.close {
    color: var(--second);
}

.list-group-item {
    background: rgba(99, 99, 99, 0.1);
    color: var(--second);
}